# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea

jdk-8u131-linux-x64.tar.gz

apache-tomcat-8.5.88.tar.gz

apache-tomcat-8.5.88/